<!-- Skills 
<section class = "tiles">
    <article class = "style1">
        <span class = "image">
            <img src = "http://placehold.it/450x450" alt>
        </span>
        <a>
            <h2><%- item.skillset1 %></h2>
            <div class = "content">
                <p></p>
            </div>
        </a>
    <article>
</section>
-->

<!-- Comments -->
<div>
    <%- partial("_partial/comments.ejs") %>
</div>



